body{
	margin: 0;
	padding: 0;
	border: none;
	background: white;
	font-size: 14px;
	font-family: "microsoft yahei", sans-serif;
	color: #333333;
	-webkit-text-size-adjust:none; /** 禁止文字自动调整大小，默认随着设备旋转文字大小会发生变化 **/
	-webkit-tap-highlight-color: rgba(0,0,0,0); /** 去掉IOS上点击链接和文本框的默认半透明灰色覆盖层 **/
	-webkit-touch-callout:none; /** 禁止长按弹出IOS底部菜单，img和a标签都要加 **/
	-webkit-overflow-scrolling: touch; /** 独立区域平滑滚动和回弹 **/
}
h1,h2,h3,h4,h5,h6,ul,li,p{
	margin: 0;
	padding: 0;
	line-height: 1em;
	font-weight: normal;
}
li{
	list-style: none;
}
input,select,button{
	outline: none;
	background: none;
	border: none;
}
a{
	color: #333333;
	text-decoration: none;
}
.clear{
	clear: both;
}
.ellispse{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}